body {
    background-image: url(../images/cavernbackground3.jpg);
    background-position: center;
}
h1,h2 {
    font-family: 'Paytone One', sans-serif;
}
img:hover {
    background: white;
    opacity: 0px;
}
contaniner {
    width: 100%;
    height: 100%;
}
#crystalcontainer {
    display: flex;
    justify-content: center;
}
#crystals {
  width: 100%;
  height:330px;
  display: flex;
  justify-content:center;
}
#crystalone {
    width: 150px;
    position: absolute;
    left: 340px;
    bottom: 60px;
}
#crystaltwo {
    width: 150px;
    position: absolute;
    left: 690px;
    top: 50px;
}
#crystalthree {
    width: 150px;
    position: absolute;
    left: 215px;
    top: 115px;
}
#crystalfour {
    width: 150px;
    position: absolute;
    left: 820px;
    top: 120px;
}
#score {
    position: relative;
    bottom: 0px;
    
}