body {
    background: black;
}
.content {
    background-image: url(../images/cavernbackground3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height:100vh;
}
.grove {
    background-image: url(../images/sacredgrove.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
.shake {
    background-image: url(../images/cavernbackground3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height:100vh;
}
.rain {
    height: 100vh;
    background-image: url(../images/rain.png);
    animation: rain .3s infinite;
}
.rain:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background:#fff;
    animation: lighting .3s linear infinite;
    opacity: 0;
}
@keyframes rain {
    0%
    {
        background-position: 0% 0%;
    }
    50%
    {
        background-position: 10% 50%;
    }
    100%
    {
        background-position: 20% 100%;
    }
}
@keyframes lighting { /*Currently not working or at least not visible.*/
    0%
    {
        opacity: 0%;
    }
    10%
    {
        opacity: 0%;
    }
    11%
    {
        opacity: 1%;
    }
    14%
    {
        opacity: 0%;
    }
    20%
    {
        opacity: 0%;
    }
    21%
    {
        opacity: 1%;
    }
    24%
    {
        opacity: 0%;
    }
    100%
    {
        opacity: 0%;
    }
}
@-webkit-keyframes lighting { /*Currently not working or at least not visible.*/
    0%
    {
        opacity: 0%;
    }
    10%
    {
        opacity: 0%;
    }
    11%
    {
        opacity: 1%;
    }
    14%
    {
        opacity: 0%;
    }
    20%
    {
        opacity: 0%;
    }
    21%
    {
        opacity: 1%;
    }
    24%
    {
        opacity: 0%;
    }
    100%
    {
        opacity: 0%;
    }
}
#bird1 {
    background-image: url(../images/Silhouette_bird_flight.gif);
    height: 220px;
    width:230px;
    margin: 0px;
    padding: 0px;
    top: 200px;
    background-repeat: no-repeat;
    position: absolute;
    overflow: hidden;
    -webkit-animation: fly 6s linear infinite;
    animation: fly 6s linear infinite;
}
#bird2 {
    background-image: url(../images/Silhouette_bird_flight.gif);
    height: 220px;
    width:230px;
    margin: 0px;
    padding: 0px;
    top: 100px;
    background-repeat: no-repeat;
    position: absolute;
    overflow: hidden;
    -webkit-animation: fly 5s linear infinite;
    animation: fly 5s linear infinite;
}
@keyframes fly {
    from {left:-200px}
    to {left :1250px};
}
@-webkit-keyframes fly {
    from {left:-200px}
    to {left :1250px};
}
#myModal {
    position: absolute;
    top: 150px;
}
#winModal {
    position: absolute;
    top: 150px;
}
#lossModal {
    position: absolute;
    top: 150px;
}
.modal-content {
   background: black;
   opacity:.9;
}
h1,h2,h3 {
    font-family: 'Paytone One', sans-serif;
    text-shadow: 2px 2px  rgb(53, 52, 45)
}
contaniner {
    width: 100%;
    height: 100%;
}
#crystalcontainer {
    display: flex;
    justify-content: center;
}
#crystals {
  width: 100%;
  height:330px;
  display: flex;
  justify-content:center;
}
#directions {
    position:relative;
    top: 100px;
    right:100px;
    background-color:black;
    opacity: .75;
    border:  2px solid #fff;
}
#win-lose {
    position:relative;
    top: 100px;
}
#crystalone {
    width: 150px;
    position: absolute;
    left: 345px;
    top: 80px;
}
#crystalone:hover {
    -webkit-filter: drop-shadow(0px -20px 10px rgba(246, 85, 238, 0.3)); filter: drop-shadow(0px -20px 10px  rgba(246, 85, 238, 0.3));
    cursor: pointer;
    animation: pulse 2s infinite;
}
#crystaltwo {
    width: 150px;
    position: absolute;
    left: 690px;
    top: 155px;
}
#crystaltwo:hover {
    -webkit-filter: drop-shadow(0px -20px 10px rgba(246, 246, 85, 0.3)); filter: drop-shadow(0px -20px 10px  rgba(246, 246, 85, 0.3));
    cursor: pointer;
    animation: pulse 2s infinite;
}
#crystalthree {
    width: 150px;
    position: absolute;
    left: 215px;
    top: 210px;
}
#crystalthree:hover {
    -webkit-filter: drop-shadow(0px -20px 10px rgba(85, 246, 238, 0.3)); filter: drop-shadow(0px -20px 10px  rgba(85, 246, 238, 0.3));
    cursor: pointer;
    animation: pulse 2s infinite;
}
#crystalfour {
    width: 150px;
    position: absolute;
    left: 820px;
    top: 220px;
}
#crystalfour:hover {
    -webkit-filter: drop-shadow(0px -20px 10px rgba(112, 246, 85, 0.3)); filter: drop-shadow(0px -20px 10px  rgba(112, 246, 85, 0.3));
    cursor: pointer;
    animation: pulse 2s infinite;
}
#score {
    position: relative;
    top: 70px;
    
}
